.label {
    /* Lighter background gradient */
    -fx-background-color: linear-gradient(to bottom right, #b2f2e6, #b2e0ff);

    /* Softer, muted border colors */
    -fx-border-color: #90c8b3;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}
/* Paste this below reply-label */
.add-label {
    -fx-background-color: yellow;
}

.marked-label {
    -fx-background-color: palegreen;
}

.delete-label {
    -fx-background-color: lightpink;
}


#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

